.header {
    display: flex;
    justify-content: center;
    font-family: cursive;
    font-size: 30px;
    text-shadow: 2px;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: silver;
}

.gridcontainer {
    width: 50vw; 
    height: auto;
    max-width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border:solid black;
    background-color: white;
}

.gridbox {
    border: 0.01px solid black;
    /* width: 100%; 
    position: relative;
    height: 0; */
    box-sizing: border-box;
}

.orange {
    background-color: orange;
}

/* slide properties */

.slidecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 85%; /* Full-width */
  height: 15px; /* Specified height */
  border-radius: 5px;
  background: #565555; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #e41c1c; /* Red background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;
  background: #e41c1c; /* Red background */
  cursor: pointer; /* Cursor on hover */
}

.value {
    font-family: cursive;
    font-weight: bold;
    font-size: 25px;
}